defaults
  log global
  mode tcp 
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000


frontend control-plane
  bind *:6443 
  default_backend kube-apiservers 

frontend graphana_interface
  bind *:3001
  default_backend graphana_server

frontend graphana_alerting
  bind *:9000
  default_backend graphana_alert_server

backend graphana_alert_server
  option httpchk GET /healthz
  server self_3123 localhost:3123

backend graphana_server
  option httpchk GET /healthz
  server self_3000 localhost:3000

backend kube-apiservers 
  option httpchk GET /healthz
  server master1 192.168.56.11:6443 check check-ssl verify none
  server master2 192.168.56.12:6443 check check-ssl verify none
